.volunteering-grid {
    margin: 0 0 30px 0;
    margin: 10px;
    padding: 5px;
    min-height: 400px;
    border: 1px solid #F5F5F5;
    position: relative;
}

.overlay-hover {
    transition: box-shadow 0.3s ease-in-out;
}

.overlay-hover:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.overlay-hover:hover .volunteering-grid-title {
    color: #00AFF0;
}

.volunteering-grid-title {
    font-size: 20px;
    font-weight: bold;
}

#charityLogo {
    height: 100px;
    width: 100px;
    text-align: center;
}


img.ri:empty
{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
