<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="container-fluid volunteering-grid overlay-hover" (click)="goToDetail(opportunity)">
        <div class="volunteering-grid-title">
            {{ opportunity.name }}
        </div>
        <div class="volunteering-grid-charity">
            <p>
                <b>Charity: </b>{{ opportunity.charity_name }}
            </p>
        </div>
        <div class="volunteering-grid-start-date">
            <b>Available From: </b> {{ opportunity.start_date }}
            <b>Until:</b> {{ opportunity.end_date }}
        </div>
        <br />
        <div class="col-md-8 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-offset-4">
            <img id="charityLogo" src="oxfam-logo.gif" />
        </div>
    </div>
</div>
