<div class="banner-area" protected>
    <div class="col-xs-6 col-xs-offset-2">
        <div class="banner-text">
            <h3>Edit Volunteering</h3>
        </div>
    </div>
</div>
<div class="col-md-8 col-md-offset-2" *ngIf="opportunity" protected>
    <form class="form-horizontal" (submit)="onSubmit()">
        <fieldset>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-2">
                    <input type="text" class="form-control" id="name" required
                     [(ngModel)]="opportunity.name"
                     name="name" placeholder="Name of the volunteering opportunity">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-2">
                    <textarea class="form-control" id="description" required
                    [(ngModel)]="opportunity.description" name="description" placeholder="Enter a description of the opportunity"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-2">
                    <my-date-range-picker [options]="myDateRangePickerOptions"
                             (dateRangeChanged)="onDateRangeChanged($event)"
                             ></my-date-range-picker>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-2">
                    <input type="text" class="form-control" id="url"
                     [(ngModel)]="opportunity.url"
                     name="url" placeholder="A link to find out more about this opportunity">
                </div>
            </div>
        </fieldset>
        <div class="text-center">
            <button type="submit" class="btn btn-primary text-center">Modify Volunteering Opportunity</button>
            <button type="reset" class="btn btn-primary text-center" (click)="goBack()">Go Back</button>
        </div>
    </form>
</div>
