<div class="banner-area">
    <div class="col-xs-6 col-xs-offset-2">
        <div *ngIf="opportunity" class="banner-text">
            <h3>{{ opportunity.name }}</h3>
        </div>
    </div>
</div>
<div class="container col-xs-offset-3">
    <div class="col-xs-9" id="charity_image">
        <img src="placeholder.png" />
    </div>
     <div class="col-xs-9" *ngIf="opportunity">
         <h4>Description: </h4>
         <p>{{ opportunity.description }}</p>
         <h4>Start Date: {{ opportunity.start_date }}</h4>
         <h4>End Date: {{ opportunity.end_date }}</h4>
         <button class="btn btn-primary"(click)="goToURL()">More Information</button>
      </div>
</div>
