
<div class="banner-area">
    <div class="col-xs-6 col-xs-offset-2">
        <div class="banner-text">
            <h3>Thank you</h3>
        </div>
    </div>
</div>
<div class="container">
    <br />
    <img src="thank-you-sign.jpg" class="thank-you-sign" />
    <p class="thank-you-text">You have truly made a difference.</p>
    <br />
    <p>Thank you for contributing {{ amount }} dollars to {{ business }} and supporting our goals in helping charities worldwide.</p>
    <p><small>We appreciate your contribution and work to ensure that your generosity will directly benefit those in need.
    </small></p>

    <button class="btn btn-social-icon btn-facebook facebook-login" (click)="shareFb(amount, business)">
       <span class="fa fa-facebook"></span>
    </button>
    <strong>Share</strong>

</div>
