<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What we do</h2>
                <h3 class="section-subheading text-muted">We aim to provide a global platform for charities and
                    donors.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a routerLink="/charities"><i class="fa fa-search fa-stack-1x fa-inverse"></i></a>
                    </span>
                <h4 class="service-heading">Charity Search</h4>
                <p class="text-muted">Look up the charity that meets your interests</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a routerLink="/volunteering"><i class="fa fa-hand-paper-o fa-stack-1x fa-inverse"></i></a>
                    </span>
                <h4 class="service-heading">Volunteering</h4>
                <p class="text-muted">Some charity provide volunteering events and positions. Search now!</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a routerLink="/quiz"><i class="fa fa-question fa-stack-1x fa-inverse"></i></a>
                    </span>
                <h4 class="service-heading">Quiz</h4>
                <p class="text-muted">Don't know where to start ?<br>Take our quiz!</p>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Latest Charities</h2>
                <h3 class="section-subheading text-muted">Take a look at the upcoming charities.</h3>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a routerLink="/detail/12" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <!--<i class="fa fa-plus fa-3x"></i>-->
                        </div>
                    </div>
                    <img src="img/grid/animals.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Animal Charity</h4>
                    <p class="text-muted">Caring for animals near you</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a routerLink="/detail/13" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <!--<i class="fa fa-plus fa-3x"></i>-->
                        </div>
                    </div>
                    <img src="img/grid/children.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Children Charity</h4>
                    <p class="text-muted">Caring for children worldwide</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a routerLink="/detail/14" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <!--<i class="fa fa-plus fa-3x"></i>-->
                        </div>
                    </div>
                    <img src="img/grid/elderly.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Elderly Charity</h4>
                    <p class="text-muted">Providing the best care for the elderly</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- About Section -->
<!--<section id="about">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-12 text-center">-->
                <!--<h2 class="section-heading">Our Latest events</h2>-->
                <!--<h3 class="section-subheading text-muted">See what the charities of the world is up to</h3>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div id="myCarousel" class="carousel slide" data-ride="carousel">-->
            <!--&lt;!&ndash; Indicators &ndash;&gt;-->
            <!--<ol class="carousel-indicators">-->
                <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
                <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
                <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
                <!--<li data-target="#myCarousel" data-slide-to="3"></li>-->
            <!--</ol>-->

            <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
            <!--<div class="carousel-inner" role="listbox">-->
                <!--<div class="item active">-->
                    <!--<img src="img/carousel/1.jpg" alt="">-->
                <!--</div>-->

                <!--<div class="item">-->
                    <!--<img src="img/carousel/2.jpg" alt="">-->
                <!--</div>-->

                <!--<div class="item">-->
                    <!--<img src="img/carousel/3.jpg" alt="">-->
                <!--</div>-->

                <!--<div class="item">-->
                    <!--<img src="img/carousel/4.jpg" alt="">-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; Left and right controls &ndash;&gt;-->
            <!--<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">-->
                <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                <!--<span class="sr-only">Previous</span>-->
            <!--</a>-->
            <!--<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">-->
                <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                <!--<span class="sr-only">Next</span>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->

<!-- Team Section -->
<!--<section id="team" class="bg-light-gray">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-12 text-center">-->
                <!--<h2 class="section-heading">Our Team</h2>-->
                <!--<h3 class="section-subheading text-muted">The proud members of ChariLink</h3>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-sm-4">-->
                <!--<div class="team-member">-->
                    <!--<img src="img/team/1.jpg" class="img-responsive img-circle" alt="">-->
                    <!--<h4>Kay Garland</h4>-->
                    <!--<p class="text-muted">Lead Designer</p>-->
                    <!--<ul class="list-inline social-buttons">-->
                        <!--<li><a href="#"><i class="fa fa-twitter"></i></a>-->
                        <!--</li>-->
                        <!--<li><a href="#"><i class="fa fa-facebook"></i></a>-->
                        <!--</li>-->
                        <!--<li><a href="#"><i class="fa fa-linkedin"></i></a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-4">-->
                <!--<div class="team-member">-->
                    <!--<img src="img/team/2.jpg" class="img-responsive img-circle" alt="">-->
                    <!--<h4>Larry Parker</h4>-->
                    <!--<p class="text-muted">Lead Marketer</p>-->
                    <!--<ul class="list-inline social-buttons">-->
                        <!--<li><a href="#"><i class="fa fa-twitter"></i></a>-->
                        <!--</li>-->
                        <!--<li><a href="#"><i class="fa fa-facebook"></i></a>-->
                        <!--</li>-->
                        <!--<li><a href="#"><i class="fa fa-linkedin"></i></a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-4">-->
                <!--<div class="team-member">-->
                    <!--<img src="img/team/3.jpg" class="img-responsive img-circle" alt="">-->
                    <!--<h4>Diana Pertersen</h4>-->
                    <!--<p class="text-muted">Lead Developer</p>-->
                    <!--<ul class="list-inline social-buttons">-->
                        <!--<li><a href="#"><i class="fa fa-twitter"></i></a>-->
                        <!--</li>-->
                        <!--<li><a href="#"><i class="fa fa-facebook"></i></a>-->
                        <!--</li>-->
                        <!--<li><a href="#"><i class="fa fa-linkedin"></i></a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-lg-8 col-lg-offset-2 text-center">-->
                <!--<p class="large text-muted">This website is made as a project for Computing course at Imperial College-->
                    <!--London.</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
