#home-main {
    left: 0px;
    width: 980px;
    position: absolute;
    top: 0px;
    height: 646px;
    background-color: white;
    margin-top: 102px;
}

#slider {
    left: 47px;
    width: 810px;
    position: absolute;
    top: 56px;
    height: 383px;
    background-color: black;
}