<!--<div id="bg-layout">-->
<!--<div id="bg">-->
<!--<div id="bg-overlay">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="app">
    <toaster-container [toasterconfig]="toasterConfig"></toaster-container>
    <navigation></navigation>
    <div class="container-fluid" id="main-body">
        <router-outlet></router-outlet>
    </div>
</div>

<footer>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
                <ul class="list-inline">
                    <!--<li><a href="#"><i class="fa fa-twitter"></i></a>-->
                    <!--</li>-->
                    <!--<li><a href="#"><i class="fa fa-facebook"></i></a>-->
                    <!--</li>-->
                    <!--<li><a href="#"><i class="fa fa-linkedin"></i></a>-->
                    <!--</li>-->
                    <li><a routerLink="/about">About</a></li>
                    <li><a href="mailto:a@b.com">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>