<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="container-fluid charity-grid overlay-hover">
        <div class="charity-grid-title" (click)="goToDetail(charity)">
            {{ charity.name }}
        </div>
        <div class="charity-grid-type">
            {{ charityType }}
        </div>
        <div class="charity-grid-target">
            {{ charityTarget }}
        </div>
        <div class="charity-grid-description">
            <p>{{ charity.description }}</p>
        </div>

        <div class="grid-expenditure">
            <div class="col-xs-4 info-box">
                <div class="info-box-cause">
                    {{cause}}
                </div>
                <div class="info-box-cause more-info">
                    charity
                </div>
            </div>
            <div class="col-xs-4 info-box">
                <div class="info-box-fundraise">
                    {{fundraise}}
                </div>
                <div class="info-box-fundraise more-info">
                    fundraise
                </div>
            </div>
            <div class="col-xs-4 info-box">
                <div class="info-box-admin">
                    {{admin}}
                </div>
                <div class="info-box-admin more-info">
                    admin
                </div>
            </div>
        </div>
    </div>
</div>
