.charity-small {
    border:2px solid red;
    width: 60%;
    min-width: 300px;
}

#nav-buttons {
    margin-bottom: 5px;
}

.banner-area {
    background: url('banner.jpg') repeat scroll center center;
}