<!-- ngIf is a hotfix, ideally the charity-form should be display when something is pressed -->
<div class="banner-area">
    <div class="col-xs-6 col-xs-offset-2">
        <div class="banner-text">
            <h3>Charity Search</h3>
        </div>
    </div>
</div>
<div class="container">
    <div *ngIf="charities">
        <div class="row">
            <charity-search></charity-search>
        </div>

        <div class="row">
            <charity-grid *ngFor="let charity of displayCharities"
                          [charity]="charity">
            </charity-grid>
        </div>

        <div id="nav-buttons" class="text-center" *ngIf="displayPagination">
            <i class="fa fa-chevron-left fa-2x"
               aria-hidden="true"
               (click)="moveLeft()"
               [class.disabled]="leftLim"></i>
            <span class="page-text">
                {{leftPos + 1 }} - {{rightPos}}
            </span>
            <i class="fa fa-chevron-right fa-2x"
               aria-hidden="true"
               (click)="moveRight()"
               [class.disabled]="rightLim"></i>
        </div>
    </div>
</div>
