.search-container {
    padding: 0 0 20px 0;
    margin: 20px 0 20px 0;
    border-bottom: 1px solid #E5E5E5;
}

.selector-large {
    display: none;
}

.selector-mobile {
    display: block;
}

@media screen and (min-width: 992px) {
    .selector-large {
        display: block;
    }

    .selector-mobile {
        display: none;
    }
}