<div class="container search-container">
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <input class="form-control" #searchBox
                   (keyup)="search(searchBox.value)"
                   placeholder="Search for a charity"/>
        </div>

        <div class="col-md-4 col-xs-12">
            <button class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-expanded="false">
                {{ searchQuery.type.full }}
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a (click)="clear('type')">CLEAR</a></li>
                <li *ngFor="let charityType of charityTypes">
                    <a (click)="modifyType(charityType)">{{charityType.full}}</a>
                </li>
            </ul>
        </div>

        <div class="col-md-4 col-xs-12">
            <button class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-expanded="false">
                {{ searchQuery.target.full }}
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a (click)="clear('target')">CLEAR</a></li>
                <li *ngFor="let charityTarget of charityTargets">
                    <a (click)="modifyTarget(charityTarget)">{{charityTarget.full}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
