<div class="col-md-10 col-md-offset-1 col-xs-12">

    <div class="banner-area">
        <div class="col-xs-6 col-xs-offset-2">
            <div class="banner-text">
                <h1>{{username}}</h1>
            </div>
        </div>
    </div>

    <div class="info-container">
        <div class="col-md-6 col-xs-12" *ngIf="isCharity">
            <h2>Charity information</h2>
            <charity-form-profile [username]="username"></charity-form-profile>
        </div>

        <div class="col-md-6 col-xs-12" *ngIf="isCharity">
            <h2>Volunteering Hub</h2>
            <div class="btn-toolbar text-center">
                <button id="create" class="btn btn-primary col-md-5 col-xs-12" type="button"
                        (click)="goToVolunteeringForm()">Create new Volunteering Opportunity
                </button>
                <button class="btn btn-primary col-md-5 col-xs-12" type="button" (click)="goToVolunteeringList()">
                    Modify your Volunteering Opportunities
                </button>
            </div>
        </div>
        <!-- Should combine with isDonor -->
        <div class="col-md-6 col-md-offset-3 col-xs-12" *ngIf="isFb">
            Facebook linked account
        </div>

        <div class="col-md-6 col-md-offset-3 col-xs-12" *ngIf="isDonor">
            <h2>Payment history</h2>
            <profile-payment *ngIf="payments" [data]="payments"></profile-payment>
        </div>


    </div>
</div>
