<div class="container-fluid col-md-8">
    <h2>Charity creation</h2>
    <form class="form-horizontal" (submit)="onSubmit()">
        <fieldset>
            <div class="form-group">
                <div class="col-md-6">
                    <input type="text" class="form-control" id="username" required
                           [(ngModel)]="name"
                           name="username" placeholder="Name of the charity">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <input type="text" class="form-control" id="register_id" required
                           [(ngModel)]="register_id"
                           name="password" placeholder="Charity registration ID">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <textarea class="form-control" id="description" required
                              [(ngModel)]="description"
                              name="description" placeholder="Enter a short description of your charity"></textarea>
                </div>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Create charity</button>
    </form>
</div>