.option {
      margin:15px;
      float:left;
      border: 5px solid white;
      cursor:pointer; 
    }

.option:hover { 
       border:#FC0 solid 5px;
     }

#question {
  font-size:18px;
  color:#000;
}

#quizAnimation {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}