<div class="container-fluid col-md-8" *ngIf="charity">
    <form class="form-horizontal" (submit)="onSubmit()">
        <fieldset>
            <div class="form-group">
                <div class="col-md-6">
                    <input type="text" class="form-control" id="charityname" required
                        [(ngModel)]="charity.name"
                        name="charityname" placeholder="Name of the charity">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <input type="text" class="form-control" id="register_id" required
                        [(ngModel)]="charity.register_id"
                        name="register_id" placeholder="Charity registration ID">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <button class="btn btn-primary btn-block dropdown-toggle" 
                            type="button" data-toggle="dropdown"
                            aria-expanded="false">
                    {{ type.full }}
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li *ngFor="let type of charityTypes">
                            <a (click)="modifyType(type)">{{type.full}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <button class="btn btn-primary btn-block dropdown-toggle" 
                            type="button" data-toggle="dropdown"
                            aria-expanded="false">
                    {{ target.full }}
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li *ngFor="let target of charityTargets">
                            <a (click)="modifyTarget(target)">{{target.full}}</a>
                        </li>    
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <input type="text" class="form-control" id="paypal" required
                        [(ngModel)]="charity.paypal"
                        name="paypal" placeholder="Charity paypal">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <textarea class="form-control" id="description" required
                              [(ngModel)]="charity.description"
                              name="description" placeholder="Enter a short description of your charity"></textarea>
                </div>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Modify charity</button>
    </form>
</div>
