<div class="container search-container">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <input id="searchBox" class="form-control" #searchBox (keyup)="search(searchBox.value)" placeholder="Search for a opportunity/charity" />
    </div>
    <div class="col-md-3 col-xs-5">
      Start Date:
      <input type="date" id="start_date" (change)="modifyDate()" />
    </div>
    <div class="col-md-3 col-xs-5">
      End Date:
      <input type="date" id="end_date" (change)="modifyDate()" />
    </div>
    <div class="col-md-2 col-xs-2">
      <button class="btn btn-primary btn-block" type="button" (click)="clear()">Reset</button>
    </div>
    <div style="display:inline-block; min-height:290px;">
      <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
    </div>
  </div>
</div>
