<div class="banner-area" protected>
    <div class="col-xs-6 col-xs-offset-2">
        <div class="banner-text">
            <h3>Edit Volunteering</h3>
        </div>
    </div>
</div>
<div class="container">
    <div *ngIf="opportunities">
        <div class="row">
            <div class="col-md-5">
                <h4>Opportunity Name</h4>
            </div>
            <div class="col-md-2">
                <h4>Start Date</h4>
            </div>
            <div class="col-md-2">
                <h4>End Date</h4>
            </div>

        </div>
        <div *ngFor="let opportunity of opportunities" class="row">
            <div id="name" class="col-md-5 col-xs-8">
                <h5>{{ opportunity.name }}</h5>
            </div>
            <div id="start_date" class="col-md-2 col-xs-8">
                <h5>{{ opportunity.start_date }}</h5>
            </div>
            <div id="end_date" class="col-md-2 col-xs-8">
                <h5>{{ opportunity.end_date }}</h5>
            </div>
            <button id="edit" class="btn btn-primary col-md-1 col-xs-2">
                Edit
            </button>
            <button id="delete" (click)="onDelete(opportunity.id)" class="btn btn-danger col-md-1 col-xs-2">
                Delete
            </button>
        </div>
    </div>
</div>
