a {
    cursor: pointer;
    text-decoration: none;
}

h1 {
    font: normal normal normal 21px/1.4em helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
    line-height: normal;
    letter-spacing: normal;
    word-wrap: break-word;
}

header {
    border-bottom: solid purple;
}

.logo {
    height: 93px;
    border-style: solid;
}

.main-menu-area {
    height: 93px;
    display: block;
    border-style: solid;
}

.main-menu-pos {
    position: relative;
    top: 25%;
}

.login-register {
    float: right;
}

/* Mobile menu styling */

.mobile-menu-area {
    display: none;
}




