a {
    cursor: pointer;
    text-decoration: none;
}

h1 {
    font: normal normal normal 21px/1.4em helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
    line-height: normal;
    letter-spacing: normal;
    word-wrap: break-word;
}

header {
    border-bottom: solid purple;
}

.menu-logo-area {
    height: 93px;
    display: block;
    border-style: solid;
}

.menu-logo-pos {
    text-align: center;
}

.main-menu-area {
    height: 93px;
    display: block;
    border-style: solid;
}

.main-menu-pos {
    position: relative;
    top: 25%;
}

.login-register {
    float: right;
}

/* Mobile menu styling */
.mobile-menu-area {
    height: 50px;
    display: block;
    border-style: solid;
    background-color: #00AFF0;
}

.mobile-menu-bar-text {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-top: 4px;
}

.mobile-menu-bar-button {
    float: right;
}

.material-icons {
    font-size: 50px;
    color: #000000;
}

@media screen and (min-width: 991px) {
    .mobile-menu-area {
        display: none;
    }
}






