a {
    cursor: pointer;
    text-decoration: none;
}

h1 {
    font: normal normal normal 21px/1.4em helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
    line-height: normal;
    letter-spacing: normal;
    word-wrap: break-word;
}

header {
}

.fixed-top {
    position: fixed;
    width: 100%;
    top: 0;
    background: #FFFFFF;
    z-index: 99999;
    transition: all 0.3s ease 0s;
}

.menu-logo-area {
    height: 93px;
}

.menu-logo-pos {
    text-align: center;
}

.menu-logo-text {
    font-size: 20px;
    color: #666666;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
}

.main-menu-area {
    height: 93px;
}

.main-menu-pos {
    position: relative;
    top: 25%;
}

.login-register {
    float: right;
}

.navbar-nav li {
    margin: 0 10px 0 10px;
}

.navbar-nav a {
    font-size: 16px;
    color: #666666;
    font-weight: bold;
    background-color: #FFFFFF;
}

.navbar-nav a:hover {
    background-color: #FFFFFF;
    color: #00AFF0;
}

.navbar-nav a:active {
    background-color: #FFFFFF;
}

.main-menu-button {
    text-transform: uppercase;
}

.login-button {
    border: 1px solid #666666;
    text-transform: capitalize;
}

.login-button-form {
    background-color: red;
}

/* Mobile menu styling */
.mobile-menu-area {
    display: block;
    background-color: #00AFF0;
}

.mobile-menu-bar {
    height: 50px;
}

.mobile-menu-bar-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 12px;
    margin-left: 100px;
}

.mobile-menu-bar-button {
    margin-top: 0;
    margin-bottom: 0;
    border: none;
}

.material-icons {
    font-size: 30px;
    color: #000000;
}

.mobile-menu-bar-text, .mobile-menu-bar-button {
    -moz-transition: margin 0.5s ease-in-out;
    -webkit-transition: margin 0.5s ease-in-out;
    -o-transition: margin 0.5s ease-in-out;
    transition: margin 0.5s ease-in-out;
}

.mobile-menu {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 0;
    padding-right: 0;
}

.mean-nav {
    margin-top: 0;
    margin-bottom: 20px;
    background-color: #FFFFFF;
}

.mean-nav ul li a {
    background-color: #FFFFFF;
    color: #444;
    display: block;
}

.mean-nav li {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #666666;
}

.mean-nav li:last-child {
    border-bottom: none;
}

@media screen and (min-width: 992px) {
    .mobile-menu-area {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .main-menu-area {
        display: none;
        padding-left: 0;
        padding-right: 0;
    }

    /* Override the bootstrap breakpoint - 3.x only */
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .mobile-menu-bar-text {
        margin-left: 50px;
    }

    .mobile-menu-bar-button {
        margin-right: 50px;
    }
}

@media (max-width: 350px) {
    .mobile-menu-bar-text {
        margin-left: 10px;
    }

    .mobile-menu-bar-button {
        margin-right: 10px;
    }
}






