<div class="banner-area">
    <div class="col-xs-6 col-xs-offset-2">
        <div class="banner-text">
            <h3>Volunteering</h3>
        </div>
    </div>
</div>
<div class="container">
    <div *ngIf="opportunities">
        <div class="row">
            <volunteering-search></volunteering-search>
        </div>
        <div class="row">
            <volunteering-grid *ngFor="let opportunity of displayOpportunities"
                          [opportunity]="opportunity">
            </volunteering-grid>
        </div>
        <div id="nav-buttons" class="text-center" *ngIf="displayPagination">
            <i class="fa fa-chevron-left fa-2x"
               aria-hidden="true"
               (click)="moveLeft()"
               [class.disabled]="leftLim"></i>
            <span class="page-text">
                {{leftPos + 1 }} - {{rightPos}}
            </span>
            <i class="fa fa-chevron-right fa-2x"
               aria-hidden="true"
               (click)="moveRight()"
               [class.disabled]="rightLim"></i>
        </div>
    </div>
</div>
